extends layout

block content
  img(src='/images/logo.png')

  div(class='table-responsive')
  table(class='table')
    thead
      tr
        th 通貨ペア
        th 始値
        th 最高値
        th 最安値
        th 売値（Bid）
        th 買値（Ask）
    tbody
      - items.forEach(function(item) {
      tr
        td #{item.currencyPairCode}
        td #{item.open}
        td #{item.high}
        td #{item.low}
        td #{item.bid}
        td #{item.ask}
      - })
